.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2rem;
  font-size: 1rem;
  align-items: center;
  /* Apply smaller font size */
}

.sections {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .sections {
    flex-direction: row;
    gap: 10rem;
  }
}

@media (max-width: 1024px) {
  .sections {
    gap: 6rem;
    align-items: center;
  }
}

.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company .companyCredo {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.company .companyLogo img {
  width: 10.5rem;
  opacity: 1;
  padding-right: 1rem;
  filter: grayscale(100%);
}

.company a:hover .companyCredo {
  color: var(--gray-900);
  transition: color 0.15s ease-in-out;
}

.company .socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.company .socials .social {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--gray-400);
  transition: color 0.15s ease-in-out;
}

.company .socials .social:hover {
  color: var(--gray-900);
}

.copyrightContent {
  margin-top: 1.5rem;
  align-items: center;
  margin-left: 4rem;
}

.copyrightContent .copyright {
  font-size: 0.8rem;
}

.resourceLinks {
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
}

.resources {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.resourceCol {
  padding-right: 3.5rem;
  margin-bottom: 1rem;
}

.resourceTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.resourceLinks {
  margin-top: 0.5rem;
  list-style: none;
}

.resourceLink a {
  color: var(--gray-500);
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.resourceLink a:hover {
  color: var(--gray-900);
}

@media (min-width: 768px) {
  .sections {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .resources {
    flex-direction: row;
    gap: 2rem;
    margin-top: 0;
  }

  .resourceCol {
    margin-bottom: 0;
  }
}
